<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ExerciseRest2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<!-- Instalación del Framework Jersey -->
  <!-- Se define un servlet de nombre jersey-servlet con los parámetros de mi
  aplicación -->
  <servlet>
  <!-- nombre no importa, le puedes poner el que quieras -->
    <servlet-name>elServlet</servlet-name>
<!-- depende de la version de jersey que estas usando, segun API rest-->
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
    <!-- El paquete que procesa todo esto desde jersey-->
      <param-name>jersey.config.server.provider.packages</param-name>
            <!-- paquete, todas las peticiones de esta clase-->
      <param-value>gen.ExerciseRest2.services</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- Asignar al servlet un url mapping -->
  <servlet-mapping>
    <!-- el mismo nombre de antes -->
        <servlet-name>elServlet</servlet-name>
            <!-- solo peticiones por este metodo (/*) para todos -->
        <url-pattern>/magia/*</url-pattern>
    </servlet-mapping>
</web-app>